// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list {
  color: #555;
  font-size: 22px;
  font-family: courier, monospace;
  background-color: lightyellow;
  border-radius: 11px;
  max-width: 600px;
}
.list li.first_item {
  height: 50px;
  border-left: thin solid;
}
.list li {
  list-style: none;
  text-transform: capitalize;
  border-left: thin solid;
  border-top: thin solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.list li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
  cursor: pointer;
}
.list .strikethrough {
  text-decoration: line-through;
  max-width: 400px;
}
.list .item-edit-link {
  float: right;
  clear: both;
}
.list .item-description {
  -webkit-margin-after: 0;
  padding-bottom: 5px;
}
.list .item-info-hidden {
  display: none;
}
.list .item-info-date {
  float: right;
  padding-right: 10px;
  font-style: italic;
  font-size: 0.7em;
}
#index_new_item {
  background-image: url(/assets/pencil.ico);
  background-size: 25px;
  height: 26px;
  background-repeat: no-repeat;
  padding-left: 26px;
  height: 26px;
}
